#root {
  margin: 0;
  text-align: center;
}

h1 {
  border: 1px solid green;
}

.home {
  border: 1px solid green;
}

.topics {
  border: 1px solid green; 
}

.article-card {
  border: 1px solid green;
  display: grid;
}

a {
  text-decoration: none;
  color: black
}

.article-card-img {
  width: 60vw;
}

.article-page { 
  /* display: grid;
  min-height: 100vh;
  grid-template-areas: 
  "title"
  "author"
  "date"
  "image"
  "body"
  "comments"; */
}

.article-page-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width:1000px;
}

.article-page-votes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-header {
  border: 1px solid green; 
}

.nav-footer {
  border: 1px solid green; 
}

/* comments */

.comments {
  border-top: 1px solid black;
  margin-top: 20px;
}

.comment-label {
  justify-content: left;
} 

.comment {
  border: 1px solid green; 
  grid-area: comments;
  display: grid;
  grid-template-areas: 
  "author date"
  "body body"
  "votes none"
  ;
}

.comment-author {
  grid-area: author;
  text-align: left;
}

.comment-date {
  grid-area: date;
  text-align: right;
}

.comment-body {
  grid-area: body;
  text-align: left;
}

.comment-votes {
  grid-area: votes;
  text-align: left;
}

.user-avatar-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid black;
}

.user-avatar-img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}